.idea
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/notepad.iml
.idea/workspace.xml
Memo_2017-09-28_22-31-04.txt
Task_2017-09-28_22-31-58.txt
Link_2017-09-28_22-35-25.txt
notepad.sqlite
